@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: .95rem; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.popularity-badge{
  rotate: 45deg;
  position: absolute;
  padding:.4rem 2.5rem;
  top: 2rem;
  right: -2.5rem;
  z-index: 10;
}

.team-social-item{
  bottom: -4rem;
  background-color: #00000042;
  max-height: 0;
  transition: all 700ms ease;
}

.team:hover>.team-social-item{
  bottom: 0;
  max-height:100%;
}

.blog-category{
  box-shadow: 0 3px 0 #1b67d8;
}
